<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">OfficeMS</a>

    <div>
      <a class="btn btn-outline-light me-2" href="/employees">Employees</a>
      <a class="btn btn-outline-light" href="/departments">Departments</a>
    </div>
  </div>
</nav>